body {
  font-family: "Roboto";
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("home_Acrolix.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.login_formulario {
  background-color: #242424;
  padding: 50px;
  border-radius: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  
}

h2 {
  color: #ffffff;
  font-size: 20px;
}

.input_text {
  position: relative;
  margin-bottom: 10px;
}

.input_text input{
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  font-size: 15px;
  border: 2px solid #424241;
  border-radius: 40px;
  background-color: #424241;
  color: #ffffff;
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: border-color 0.5s ease;
}

.input_text input:focus {
    border-color: #e9a21f;
}

.boton_login {
  margin-top: 20px;
}

.boton_login button {
  width: 100%;
  background-color: #e9a21f;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton_login button:hover {
  background-color: #60c0e2;
  color: #242424;
}

.registrar_link {
  margin-top: 20px;
  font-size: 12px;
  color: #ffffff;
}

.registrar_link a {
  color: #60c0e2;
  text-decoration: none;
  font-weight: bold;
}

.registrar_link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contenedor_login {
    padding: 10px;
  }

  .login_formulario {
    padding: 30px;
  }
}
