<<<<<<< HEAD
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url("/img/home_Acrolix.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.logo-container { /* New container for better control */
  width: 100%;  /* Or a specific width if you want to constrain it */
  text-align: center; /* To center the image horizontally */
}
.cromalink_logo {
  width: 80em; /* Prueba con valores más pequeños hasta que se vea bien */
  height: auto;
}

h1 {
  font-size: 40px;
  font-style: italic;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.botones {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogan {
  font-size: 40px;
  font-style: italic;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dev{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.acrolix_logo {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}
=======
>>>>>>> login-api-ma
